*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: linear-gradient( 
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(/ProyectoWeb/img/mejores-gifs-de-viaje-pasaporte.gif);
    background-position: center;
    background-size: cover;
    align-items:center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 30px;
}
.txt1{
    margin: 10px;
     
}
#te1, #te2{
    width: 80%;
    margin: 10px auto;
    text-align: justify;
    border-bottom: 1px solid rgb(196, 192, 192);
    padding-bottom: 50px;
    font-size: 18px;
}

#t1{
    font-size: 20px;
    width: 50px;
    margin: 20px auto;
} 
#t2{
    font-size: 13px;
    width: 80%;
    margin: 20px auto;
}
h2{
    margin-bottom: 30px;
    text-align: center;
}

.articulos {
    display: flex;
    align-items: center;
    padding: 40px;
}

.menu-secundario {
    width: 20%;
    text-align: center;
}

.menu-secundario #t{
    text-align: center;
    background-color: #7689c7;
    color: white;
    padding: 5px 0;
    margin-top: 60px;
}

.menu-secundario a {
    display: block;
    color: black;
    margin: 30px auto;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgb(196, 192, 192);
    width: 200px;
    text-align: justify;
    
}
.menu-secundario a:hover{
    color:#ce967b;
    text-decoration:underline
}
.menu-secundario #t1{
    text-decoration: none;
}

.centrales {
    width: 75%;
}

nav ul {
    background-color: #7689c7;
    width: 100%;
    list-style-type: none;
    text-align: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 45px;
    width: 150px;
    font-size: 20px;
}
nav ul li a:hover{
    color: #ce967b;
}

#imgv{
    margin-top: 40px;
    height: 250px;
    border-radius: 50%;
}

.contenido {
    display: flex;
    margin: 60px;
}
#vista {
    width: 80%;
    margin: 10px auto;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px solid rgb(196, 192, 192);
}

#seccionv img{
    width: 800px;
    margin-top: 20px;
}

#s1, #s2, #s3 {
    background-position: center;
    background-size: cover;
    align-items:center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#s1{
    background-image: linear-gradient( 
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(/ProyectoWeb/img/depositphotos_161601118-stock-photo-paris-postcard-collage.jpg);
}
#s2{
    background-image: linear-gradient( 
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(/ProyectoWeb/img/ARTE-CULINARIO-1080x570.jpg);
}

#s3{
    background-image: linear-gradient( 
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(/ProyectoWeb/img/2302.jpg);
}
footer{
    height: 100px;
    width: 100%;
    background-color: #7689c7;
}
.redes{
    padding: 5px;
    font-size: 12px;
    padding: 10px;
    text-align:center;
    padding-top: 30px;
    height: 30px;
    width: 610px;
    margin: 0 auto;
}

.redes li {
    width: 150px; 
    list-style-type: none;
    display: inline-block;
}
.redes li img:hover{
        opacity: .2;
        border-radius: 20%;
      }

.redes img{
    width: 30px;
}
#pie2{
    text-align: center;
    padding-top: 10px;
}
